target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Translation API transient configs and secret files
# NOTE: mark locally backuped files with .bk extension
**/**.bk
**/*.user.properties
**/*auth.json
# NOTE: use externalized log4j2.xml
**/log4j2.xml